<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>CDA Contacts</string>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.cloudadvocates</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to grab your location if that is okay.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Needs Calendar Permission</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleName</key>
	<string>CDA Contacts</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.microsoft.cloudadvocates</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msal8aea67fd-38da-49a1-8f68-ca0c9e9e2501</string>
				<string>appcenter-APP_SECRET</string>
				<string>msal8f999c10-2a7f-403c-b20b-cbe07b319cf3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>NSCameraUsageDescription</key>
	<string>Need access to camera to add mood.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need access to photos to add mood.</string>
</dict>
</plist>
