<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.microsoft.cloudadvocates" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
    <application android:label="CDA Contacts" android:icon="@mipmap/ic_launcher">
        <provider android:name="android.support.v4.content.FileProvider" android:authorities="com.microsoft.cloudadvocates.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        <activity android:name="microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="msal9f43032f-f539-4c7e-9639-3114d38d43ed" android:host="auth" />
            </intent-filter>
        </activity>
    </application>
</manifest>